.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    font-size: 60px;
    font-family: 'Ubuntu';
    padding: 20px;
    text-align: center;
    color: #218fbb;
    margin: 0;
    -webkit-text-stroke: 1px #00FF00;
    letter-spacing: 1px;
}
  
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex-basis: calc(25%);
}

.button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #ffffff00;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 30px;
    border: 2px solid rgb(85, 0, 119);
  }
  
  .button:hover {
    background-color: rgb(85, 0, 119, 0.8);
    transition: background-color 0.4s ease-in-out;
}