.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    font-size: 60px;
    font-family: 'Misfits';
    text-align: center;
    color: #218fbb;
    margin: 0;
    -webkit-text-stroke: 2px #00FF00;
    letter-spacing: 1px;
}
  
.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}