@font-face {
    font-family: 'Misfits';
    src: url(../../fuentes/MISFITS_.TTF);
}

.container {
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 40px;
    background-color: rgb(0, 56, 56);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Misfits';
    letter-spacing: 2px;
    color: #218fbb;
    -webkit-text-stroke: 1px #00FF00;
}
.container img {
    border-radius: 10px;
    border: 2px solid black;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}   
.buttonContainer button {
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 40px;
    font-size: 20px;
    cursor: pointer;
}
.buttonContainer button:hover {
    background-color: rgb(0, 30, 30);
}
    
.container h2 {
    height: 72px;
    text-align: center;
    margin: 10px;
    font-size: 34px;
}

.containerH {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    height: 40px;
}
.containerH h2, h3 {
    width: 100%;
    text-align: center;
}

.Link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}
.Link button {
    font-size: 30px;
    border: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    border-radius: 40px;
    font-family: 'Misfits';
    letter-spacing: 2px;
    color: #218fbb;
    -webkit-text-stroke: 1px #00FF00;
}
.Link button:hover {
    background-color: rgb(0, 30, 30);
}