@font-face {
   font-family: 'rick';
   src: url(./fuentes/get_schwifty.ttf);
}

.App {
   text-align: center;
}

.div {
   display: flex;
   justify-content: center;
}

.h1 {
   display: flex;
   justify-content: center;
   font-family: 'rick';
   font-size: 80px;
   color: white;
   margin: 0;
   padding: 30px;
}

