.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex-basis: calc(25%);
}

@media(max-width: 820px) {
    .cards {
        position: absolute;
        top: 450px;
    }
}